PORT=3000
GOOGLE_SHEET_ID=your_google_spreadsheet_id
GOOGLE_SHEET_TAB=Cuti
GOOGLE_SERVICE_ACCOUNT_EMAIL=service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nreplace_with_service_account_private_key\n-----END PRIVATE KEY-----\n"
